@import url('https://fonts.cdnfonts.com/css/aguafina-script');



* {
    margin: 0;
    padding: 0;
    max-width: 220vh;
    /* font-family: 'Aguafina Script', sans-serif; */
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(/public/photos/fond_ecran_appareil_photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.presentation, .login, .register, .compteUser,.updateUsers, .createAlbum, .selectAlbums {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: calc(15% + 2em);
    margin-bottom: 15%;
    max-width: 60%;
    height: 90%;
    background: rgba(202, 198, 160, 0.93);
    mix-blend-mode: normal;
    border: 2px solid #7E7B62;
    backdrop-filter: blur(2px);
    border-radius: 41px;
}


@media (min-width: 576px) {

.presentation {
    margin-top: 10%;
    margin-bottom: 10%;
}
}


h1 {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.4em 0;
    color: rgb(181,96,29)!important;
    font-size: 2em;
    font-family: 'Aguafina Script', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    background-image: url(/public/photos/fond_ecran_sepia.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    z-index: 1;
    /* text-shadow: rgb(5, 5, 5) 0 0 2px; */
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.5), -1px 1px rgba(0, 0, 0, 0.5), -1px -1px rgba(0, 0, 0, 0.5), 1px -1px rgba(0, 0, 0, 0.5); */
}

h2 {
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: #11ffee00
}

h3 {
    border: 3px	black outset;
    border-radius: 30px / 30px;
    box-shadow: 6px 6px 8PX black;
    font-weight: bold;
    padding: 20px;
    font-size: 3em;
}

h4 {
    font-weight: bold;
}

.albumName {
    border: 3px black outset;
    border-radius: 20px / 20px;
    margin: 10px;
    padding: 5px;
}

p {
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-size: 1.3em;
    text-align: center;
    
}

.button {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    color: #FAEBD7!important;
    background-color: #696969!important;
    box-shadow: 6px 6px 8PX black;
    margin: 10px;
    width: 100;
}

.buttonAlbum {
    font-style: italic;
    font-weight: bold!important;
    font-size: 1em!important;
    text-align: center;
    text-overflow: ellipsis;
    margin: 10px;
    width: 100;
    border: 1px black outset!important;
    border-radius: 20px / 20px!important;
    box-shadow: 6px 6px 8PX black;
    margin: 5px;
}


footer {
    text-align: center;
    background-image: url(/public/photos/fond_ecran_sepia.png);
    color: black;
    margin-bottom: 0;
}