

.container {
    background-image: url(/public/photos/fond_ecran_appareil_photo.jpg);
}

h1 {
    margin-top: 0;
    color: black;
    font-family: 'comic Sans SM';
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-image: url(/public/photos/fond_ecran_sepia.png);
}