h1 {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.4em 0;
    color: rgb(181,96,29)!important;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    background-image: url(/public/photos/fond_ecran_sepia.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    z-index: 1;
    /* text-shadow: rgb(5, 5, 5) 0 0 2px; */
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.5), -1px 1px rgba(0, 0, 0, 0.5), -1px -1px rgba(0, 0, 0, 0.5), 1px -1px rgba(0, 0, 0, 0.5); */
}